<?php

# the short name gives a unique element to each options id
$theme_prefix = Bw::$theme_prefix . '_';

# user access level
$capability = 'edit_theme_options';

# here we will set the options we are going to have in the customizer.
$options = array(); // If you delete this line, the sky will fall down! So you better don't.


/* ---------------------------------------------------------------------------------------------------
    Panels (optional - WP 4.0+ only)
--------------------------------------------------------------------------------------------------- */

$options[] = array(
    'title'             => esc_html__( 'Example Panel', 'textdomain' ), // Panel name
    'description'       => esc_html__( 'Panel description.', 'textdomain' ), // Panel description
    'id'                => $theme_prefix . 'panel_id', // unique ID
    'priority'          => 1,
    'theme_supports'    => '',
    'type'              => 'panel'
);

$options[] = array(
    'title'             => esc_html__( 'Example Panel 2', 'textdomain' ), // Panel name
    'description'       => esc_html__( 'Panel description.', 'textdomain' ), // Panel description
    'id'                => $theme_prefix . 'panel_2', // unique ID
    'priority'          => 2,
    'theme_supports'    => '',
    'type'              => 'panel'
);


/* ---------------------------------------------------------------------------------------------------
    Sections
--------------------------------------------------------------------------------------------------- */

$options[] = array(
    'title'             => esc_html__( 'Standard Form Fields', 'textdomain' ), // Section name
    'panel'             => $theme_prefix . 'panel_id', // panel
    'id'                => $theme_prefix . 'section_id', // unique ID
    'priority'          => 10,
    'theme_supports'    => '',
    'type'              => 'section'
);

$options[] = array(
    'title'             => esc_html__( 'WordPress 4.0+ Fields', 'textdomain' ), // Section name
    'panel'             => $theme_prefix . 'panel_id', // panel
    'id'                => $theme_prefix . 'section_2', // unique ID
    'priority'          => 10,
    'theme_supports'    => '',
    'type'              => 'section'
);

$options[] = array(
    'title'             => esc_html__( 'WordPress Data', 'textdomain' ), // Section name
    'panel'             => $theme_prefix . 'panel_2', // panel
    'id'                => $theme_prefix . 'section_3', // unique ID
    'priority'          => 10,
    'theme_supports'    => '',
    'type'              => 'section'
);

$options[] = array(
    'title'             => esc_html__( 'Standard Form Fields2', 'textdomain' ),
    'id'                => $theme_prefix . 'section_id2',
    'priority'          => 10,
    'theme_supports'    => '',
    'type'              => 'section'
);


/* ---------------------------------------------------------------------------------------------------
    Controls
--------------------------------------------------------------------------------------------------- */

// Text field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Text Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'text', // unique ID
                    'default'           => 'Default value',
                    'option'            => 'text',
                    'sanitize_callback' => 'sanitize_text_field',
                    'type'              => 'control' ); // type = control

// Textarea field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Textarea Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'textarea', // unique ID
                    'default'           => '',
                    'option'            => 'textarea',
                    'sanitize_callback' => 'esc_textarea',
                    'type'              => 'control' ); // type = control

// Color Picker field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Color Picker Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'color', // unique ID
                    'default'           => '#BADA55', // HEX
                    'option'            => 'color',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Radio field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Radio Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'radio', // unique ID
                    'default'           => 'value2',
                    'option'            => 'radio',
                    'sanitize_callback' => '',
                    'choices'           => array(
                        'value1' => 'Choice 1',
                        'value2' => 'Choice 2',
                        'value3' => 'Choice 3',
                    ),
                    'type'              => 'control' ); // type = control

// Radio image field
$options[] = array( 'title' => esc_html__( 'Example Radio Image Field', 'yago' ),
    'description'       => '',
    'section'           => $theme_prefix . 'fonts_body',
    'id'                => $theme_prefix . 'radio_image_test',
    'default'           => 'fieldname.option2',
    'option'            => 'radio_image',
    'choices' => array(
        'fieldname.option1' => get_template_directory_uri() . '/assets/img/option1.png',
        'fieldname.option2' => get_template_directory_uri() . '/assets/img/option2.png',
    ),
    'sanitize_callback' => '',
    'type'              => 'control'
);

// Checkbox field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Checkbox Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'checkbox', // unique ID
                    'default'           => '', // 1 for checked
                    'option'            => 'checkbox',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Select field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Select Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'select', // unique ID
                    'default'           => 'value2',
                    'option'            => 'select',
                    'sanitize_callback' => '',
                    'choices'           => array(
                        'value1' => 'Choice 1',
                        'value2' => 'Choice 2',
                        'value3' => 'Choice 3',
                    ),
                    'type'              => 'control' ); // type = control

// Image Upload field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'Image Upload Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'image', // unique ID
                    'default'           => '',
                    'option'            => 'image',
                    'sanitize_callback' => 'esc_url',
                    'type'              => 'control' ); // type = control

// File Upload field - Example Panel - section 1
$options[] = array( 'title'             => esc_html__( 'File Upload Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id', // section
                    'id'                => $theme_prefix . 'file', // unique ID
                    'default'           => '',
                    'option'            => 'file',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control


// URL field - Example Panel - section 2
$options[] = array( 'title'             => esc_html__( 'URL Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_2', // section
                    'id'                => $theme_prefix . 'url', // unique ID
                    'default'           => '',
                    'option'            => 'url',
                    'sanitize_callback' => 'esc_url',
                    'type'              => 'control' ); // type = control

// Email field - Example Panel - section 2
$options[] = array( 'title'             => esc_html__( 'Email Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_2', // section
                    'id'                => $theme_prefix . 'email', // unique ID
                    'default'           => '',
                    'option'            => 'email',
                    'sanitize_callback' => 'sanitize_email',
                    'type'              => 'control' ); // type = control

// Password field - Example Panel - section 2
$options[] = array( 'title'             => esc_html__( 'Password Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_2', // section
                    'id'                => $theme_prefix . 'password', // unique ID
                    'default'           => '',
                    'option'            => 'password',
                    'sanitize_callback' => 'sanitize_text_field',
                    'type'              => 'control' ); // type = control

// Range field - Example Panel - section 2
$options[] = array( 'title'             => esc_html__( 'Range Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_2', // section
                    'id'                => $theme_prefix . 'range', // unique ID
                    'default'           => 70,
                    'option'            => 'range',
                    'sanitize_callback' => '',
                    'input_attrs'       => array(
                        'min'   => 0,
                        'max'   => 100,
                        'step'  => 1,
                        'class' => 'example-class',
                    ),
                    'type'              => 'control' ); // type = control

// Pages field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Pages Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'pages', // unique ID
                    'default'           => 0,
                    'option'            => 'pages',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Categories field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Categories Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'categories', // unique ID
                    'default'           => 0,
                    'option'            => 'categories',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Tags field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Tags Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'tags', // unique ID
                    'default'           => '',
                    'option'            => 'tags',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Post Types field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Post Types Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'post_types', // unique ID
                    'default'           => '',
                    'option'            => 'post_types',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Posts field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Posts Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'posts', // unique ID
                    'default'           => '',
                    'option'            => 'posts',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Users field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Users Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'users', // unique ID
                    'default'           => '',
                    'option'            => 'users',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Menus field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Menus Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'menus', // unique ID
                    'default'           => '',
                    'option'            => 'menus',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// TEST
$options[] = array( 'title'             => esc_html__( 'TESTTTTT!!!!', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_3', // section
                    'id'                => $theme_prefix . 'test', // unique ID
                    'default'           => '',
                    'option'            => 'menus',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

// Pages field - Example Panel 2 - section 3
$options[] = array( 'title'             => esc_html__( 'Pages Field', 'textdomain' ), // Control label
                    'description'       => '', // Control description
                    'section'           => $theme_prefix . 'section_id2', // section
                    'id'                => $theme_prefix . 'pages', // unique ID
                    'default'           => 0,
                    'option'            => 'pages',
                    'sanitize_callback' => '',
                    'type'              => 'control' ); // type = control

/* ---------------------------------------------------------------------------------------------------
    End Control Options
--------------------------------------------------------------------------------------------------- */

# do not edit or delete below, this will include any child theme options
if ( file_exists( get_stylesheet_directory() .'/customizer.php' ) ) {
    include get_stylesheet_directory() . '/customizer.php';
}
